/* Estilos básicos */
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 12.5%;
    background-color: #343a40;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    overflow-y: auto;
}

.sidebar h4 {
    color: white;
}

.sidebar .nav-link {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
    background-color: #007bff;
    color: white;
}

.content {
    margin-left: 15%;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border: 1px solid #dd9999;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(230, 222, 222, 0.575);
    margin: 10px;
    width: calc(30% - 20px);
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Contenedor del ícono */
.card-icon {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    max-width: 80px; /* Ajusta este tamaño según tus necesidades */
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: rgb(117, 185, 212);
    text-decoration: none;
    border-radius: 4px;
}

.btn-danger:hover {
    background-color: rgb(39, 218, 134);
}

.btn-success {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: rgb(84, 196, 204);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: rgb(54, 127, 150);
}

.margin-button {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 80%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        padding-top: 0;
    }

    .card {
        width: calc(100% - 20px);
        height: auto;
    }
}.card-user {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px); /* Ajusta esto para cambiar el ancho */
}

.card-user h3, .card-user p {
    margin: 0;
    padding-bottom: 5px;
}

.card-user button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.card-user button:hover {
    background-color: #c82333;
}


